<div class="container">
    <div class="row">
        <h2>Controle de Estoque </h2>
        <p class="lead">
            Uma aplicaçao simples para controle de estoque<br />

        </p>

        <div class="alert alert-warning">
            <h4>Colaboradores</h4>
           Joao Gabriel Salgado e Vinicius de Souza Augutis
        </div>

        <hr />

        <div class="row">
            <div class="col-sm-12">


                <form role="form">
                    <div class="form-group float-label-control">
                        <label for="">Nome</label>
                        <input type="nome" class="form-control" ng-model = "vm.produto.nome">
                    </div>

                    <div class="form-group float-label-control">
                        <label for="">Preço</label>
                        <input type="text" class="form-control" ng-model = "vm.produto.preco">
                    </div>

                    <div class="form-group float-label-control">
                        <label for="">Quantidade</label>
                        <input type="text" class="form-control" ng-model = "vm.produto.qtd">
                    </div>

                    <div class="form-group float-label-control">
                        <label for="">Fornecedor</label>
                        <input type="text" class="form-control" ng-model = "vm.produto.fornecedor">
                    </div>

                    <button class = "btn btn-primary" ng-click = "vm.submeterNovo()">Submeter</button>


                </form>

            </div>
        </div>
    </div>
</div>