
<div class="container">

    <h2>Dados de Produtoss</h2>



    <hr />

    <div class="method">
        <div class="row margin-0 list-header hidden-sm hidden-xs">
            <div class="col-md-3"><div class="header">Nome</div></div>
            <div class="col-md-2"><div class="header">Preço</div></div>
            <div class="col-md-2"><div class="header">Quantidade</div></div>
            <div class="col-md-5"><div class="header">Fornecedor</div></div>
        </div>


        <div class="row" ng-repeat = "item in vm.produtos">
            <div class="col-md-3">
                <div class="cell">
                    {{item.nome}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    {{item.preco}}

                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    {{item.qtd}}
                </div>
            </div>
            <div class="col-md-3">
                <div class="cell">
                    {{item.fornecedor}}
                </div>
            </div>
            <div class="col-md-2">
                <div class="cell">
                    <a ui-sref="edit({id: item.$id})" ui-sref-active="active"><button class = "btn btn-xs"> Editar</button></a>
                    <button class = "btn btn-xs" ng-click = "vm.removerNode(item, $index)"> Excluir</button>
                </div>
            </div>

        </div>

    </div>
</div>